*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: monospace ,sans-serif;
    color: rgb(21,35,70);
    text-decoration: none;
}
nav{
    padding: 1%;
    background-color: rgb(21,35,51);
}

.nav-brand{
    padding: 1%;
    transform: rotate(-10deg);
    font-size: 2.5em;
    display: inline-block;
    background-color: #aa0022;
    color: gray;
    border: 2px solid gray;
    border-radius: 8px;
    letter-spacing: 2px;
    text-shadow: 3px 3px black;
}

li a, .nav-brand a{
    color: white;
}

.tip{
    font-size: .4em;
    color: gray;
    font-weight: bold;
}

.container{
    margin-top: 40px;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 1.5em;
    width: 90%;
    }
.content{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.finalcontent{
    margin-top: 10px;
}

h3{        
    text-align: center;
}
   
/* Style the search field */
form.main{
    margin-top: 10px;
}

form.main input[type=text] {
    padding: 10px;
    font-size: 14px;
    border: none;
    float: left;
    width: 75%;
    background: #e0e0e0;
    border-radius: 20px 0 0 20px;
}

    /* Style the submit button */
form.main button {
    float: left;
    width: 25%;
    padding: 10px;
    /* background-color: #4CAF50; */
    background-color: rgb(21,35,51);
    color: white;
    font-size: 14px;
    border: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

input[type='number']{
    width: 60px;
    font-size: 14px;
    border:none;
    background: #e0e0e0;
    text-align: center;
} 

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}
form.main button:hover {
    background-color: rgb(45,40,60);
}

/* Clear floats */
form.main::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 480px) {
    form.main button {
        width: 25%;
        font-size: 10px;
    }
    
    form.main input[type=text] {
        font-size: 10px;
        width: 75%;

    }
    
  }